/.idea/
/03_2FA_OTP_MAIL/vendor/
/03_2FA_OTP_MAIL/composer.lock
/03_2FA_OTP_MAIL/settings.php
/03_2FA_TOTP_google/temp.txt
/03_2FA_TOTP_google/composer.lock
/03_2FA_TOTP_google/vendor/
/04_single_sign_on/vendor/
/04_single_sign_on/credentials.json
/04_single_sign_on/composer.lock
/10_injection_and_friends/composer.lock
/10_injection_and_friends/vendor/
/10_injection_and_friends/settings.php
